# Build files
*.class
/out/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
/build/


## Editor user project files
# Any

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/inspectorProfiles


# Emacs
*~
\#*\#
.\#*

# OS X
.DS_Store
