# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# The database
/DB/

## Editor user project files
# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
/out/
.idea/inspectionProfiles/
/classes/

.gradle
/build/
/bin/

# Emacs
*~
\#*\#
.\#*

# OS X
.DS_Store
